body{
    font-family: 'Consolas','Microsoft YaHei UI';
}
.title-container{
    position: absolute;
    width: 92%;
    height: 25%;
    background: linear-gradient(225deg,#222222,#383838);
}
label.title{
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}
