/* 全局配色 */
:root{
    --theme-color: #0077FF;

    --text-color: #FEFEFE;
    --text-unimportant-color: #bdbdbd;
    --text-tips-color: rgba(231, 231, 231, 0.7);

    --button-focus-background: rgba(35, 35, 39, 0.2);
    --button-hover-background: rgba(142, 142, 142, 0.1);

    --page-background: #FCFCFC;
    --page-gray-background: #EFEFEF;

    --default-shadow: #30353D;
    --theme-shadow: #2194FF;

    --line-color: #AACCFF;
    --drag-border-color: rgba(226, 237, 250, 0.6);
    --drag-border-focus: rgba(255, 255, 255, 0.75);
    
    --default-dark: #22272E;
    --default-mask: rgba(49, 50, 50, 0.7);
}
*{
    box-sizing: border-box;
    outline: 0px;
}

body{
    background: var(--page-background);
    margin: 0px;
    user-select: none;
    overflow-x: hidden;
    min-height: 100%;
}
.text{
    font-family: 'Consolas', 'Microsoft YaHei UI', 'Monospace';
}

/* 菜单栏部分 */
.menubar{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(249, 250, 255, 0);
    box-shadow: 0 0 10px var(--default-shadow);
    padding-left: 5px;
    padding-right: 5px;
    float:inline-start;
}
.avatar{
    width: 45px;
    height: auto;
    border-radius: 12px;
    margin-top: 12.5px;
    margin-left: 10px;
    opacity: 85%;
}
.menuName{
    font-size: 15pt;
    font-weight: 200;
    position: absolute;
    margin-left: 10px;
    padding-top: 22px;
    color: var(--text-color);
}
.buttons{
    font-size: 12pt;
    font-weight: 400;
    text-align: center;
}
.menuButton{
    background: transparent;
    border-radius: 10px;
    border-width: 0;
    width: 7%;
    height: 48px;
    color: var(--text-color);
    float: right;
    margin: 25px;
    margin-top: 12.5px;
    padding-top: 12.5px;
    text-align: center;
    cursor: pointer;
}
.menuButton::before{
    position: absolute;
    content: '';
    background: var(--line-color);
    border: none;
    width: calc(5% - 35px);
    height: 3.5px;
    border-radius: 2px;
    transition: 0.3s;
    transform: scale(0);
    opacity: 0;
    margin-top: 21px;
}
.menuButton:hover{
    background: var(--button-focus-background);
}
.menuButton:hover::before{
    transform: scale(1);
    opacity: 1;
}

/* 弹窗遮罩 */
.popupMask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--default-mask);
    z-index: 100;
    display: none;
}
.popup{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 15px;

    width: calc(100% - 50px);
    min-width: 300px;
    max-width: 600px;

    height: calc(100% - 100px);
    min-height: 225px;
    max-height: 450px;

    background-color: var(--page-background);

    border-radius: 15px;

    box-shadow: 0 0 20px 3px var(--default-shadow);
}
.popupClose{
    position: absolute;

    background-color: transparent;
    background-image: url(Images/Buttons/Close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    border-radius: 7px;

    width: 60px;
    height: 45px;
    right: 7.5px;
    top: 7.5px;
}
.popupClose:hover{
    background-color: var(--button-hover-background);
}
.pContent{
    position: absolute;
    padding: 20px 30px;

    font-weight: 400;
}
.pTitle{
    font-size: 25pt;
}
.pText{
    font-size: 14pt;
    resize: none;
    border: none;
}

/* 页首图片 */
#pagetop.onload{
    transform: scale(1);
    opacity: 1;
}
#pagetop{
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Images/img1.jpg);
    transition: transform 1.5s, opacity 1s;
    transform: scale(1.05);
    opacity: 0;
}

/* 主页 */
.start{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 35pt;
    font-weight: 400;
    color: var(--text-color);
    text-shadow: 0px 0px 2px var(--theme-shadow);
    margin: 0;
    padding-bottom: 3px;
}
.splitline{
    position: absolute;
    width: calc(252pt + 30px);
    height: 5px;
    border-radius: 1.5px;
    left: calc(50% - 126pt - 15px);
    background: var(--line-color);
}
h2{
    font-size: 18pt;
    font-weight: 300;
    color: var(--text-color);
    text-shadow: 0px 0px 2px var(--default-shadow);
    margin: 0;
    padding-top: 3px;
}

/* 滚动提示 */
.dragMask{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.dragtips{
    margin: 0px;
    font-size: 10pt;
    color: var(--text-tips-color);
}
.dragdown{
    position: relative;
    z-index: -90;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-width: 0px;
    border-color: var(--drag-border-color);
    border-top-width: 4px;
    border-left-width: 4px;
    border-radius: 3px;
    top: 0px;
    transition: all 0.3s;
    transform: rotate(225deg);
    cursor: pointer;
}
.dragdown:hover{
    top: 3px;
    border-color: var(--drag-border-focus);
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: -90;
    width: 100%;
    text-align: center;
    align-items: center;
    top: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    background: var(--page-background);
}
/* 关于部分 */
.aboutme{
    z-index: -90;
    order: 0;
    width: 100%;
    height: max-content;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
    background: var(--page-background);
}
.title{
    margin: 10px;
}
.aboutTitle{
    font-size: 30pt;
    font-weight: 500;
}
.aboutTitle::before{
    position: absolute;
    content: '';
    background: var(--theme-color);
    border: none;
    width: 80px;
    height: 4px;
    border-radius: 0.7px;
    margin-top: 50px;
    margin-left: calc(60pt + 15px);
    transform: rotate(135deg);
}
.aboutTitleEn{
    position: relative;
    font-size: 28pt;
    font-weight: 500;
    padding-left: calc(30pt - 15px);
    top: calc(30pt - 10px);
}
.aboutContent{
    position: relative;
    font-size: 13pt;
    font-weight: 300;
    line-height: 2;
    top: 90px;
}

/* 作品部分 */
.myworks{
    z-index: -90;
    width: 100%;
    order: 2;
    height: max-content;
    padding-top: 80px;
    padding-bottom: 100px;
    background: var(--page-gray-background);
}
.worksTitle{
    font-size: 30pt;
    font-weight: 500;
}
.worksTitle::before{
    position: absolute;
    content: '';
    background: var(--theme-color);
    border: none;
    width: 80px;
    height: 4px;
    border-radius: 0.7px;
    margin-top: 50px;
    margin-left: calc(90pt + 15px);
    transform: rotate(135deg);
}
.worksTitleEn{
    position: relative;
    font-size: 28pt;
    font-weight: 500;
    padding-left: calc(30pt - 15px);
    top: calc(30pt - 10px);
}

.info{
    opacity: 0.6;
}
.info:hover{
    opacity: 1;
}
.infoImage{
    position: relative;
    width: 15px;
    height: auto;
    top: 15px;
    right: 15px;
}

.workCards{
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: max-content;
    padding: 80px 10%;
}

.tag{
    font-size: 10pt;
    opacity: 0.7;
    border-radius: 5px;
    width: max-content;
    height: 20px;
    padding: 2px 7px;
    color: rgb(21, 42, 35);
}
.inprogress{
    background-color: #74e6c0;
}
.finished{
    background-color: #ffe372;
}
.experimental{
    background-color: #c37fff;
}

@keyframes cardAnim{
    0%{
        transform: translate(0, 0px);
        box-shadow: 0 0 6px var(--default-shadow);
    }
    100%{
        transform: translate(0, -15px);
        box-shadow: 0 3px 6px var(--default-shadow);
    }
}
@keyframes cardAnimReverse{
    0%{
        transform: translate(0, -15px);
        box-shadow: 0 3px 6px var(--default-shadow);
    }
    100%{
        transform: translate(0, 0px);
        box-shadow: 0 0 6px var(--default-shadow);
    }
}

.card.text{
    position: relative;
    margin: 10px;
    padding: 7px;
    text-align: left;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 6px var(--default-shadow);
    z-index: 10;
    animation-name: cardAnimReverse;
    animation-duration: 350ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.card:hover{
    animation-name: cardAnim;
    animation-duration: 350ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.cardImage{
    width: 100%;
    height: 65%;
    border-radius: 5px;
}
.cardTitle{
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 16pt;
    padding: 5px;
    margin: 3px 0px;
}
.cardContent{
    position: relative;
    width: 100%;
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.5;
    padding: 5px;
    margin: 3px 0px;
}

/* 页脚部分 */
.footer{
    position: absolute;
    bottom: -200%;
    width: 100%;
    background: var(--default-dark);
    padding: 7px 45px;
}
.ft{
    font-weight: 300;
    color: var(--text-color);
}
.unimportant{
    color: var(--text-unimportant-color);
}
